/* Footer copyright */
.footerCopy, .copyright, .siteFooter .copy{
  text-align: center;
  color: rgba(255,255,255,.9);
}

.footerCopy .gold, 
.copyright .gold,
.siteFooter .gold{
  color: var(--gold);
}

footer .footerBottom,
footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footerBottom > *,
footer .footer-bottom > * {
  margin-left: 0;
  margin-right: 0;
}

footer .container {
  text-align: center;
}
